<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
            <script src="https://cdn.tailwindcss.com"></script>

   <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <title>Education</title>
</head>
<body>
    <header>
        <nav>
            <div class="logo">Honelign Yohannes</div>
            <div class="burger" id="sidebarToggle">
                <div class="line1"></div>
                <div class="line2"></div>
                <div class="line3"></div>
            </div>
            <ul class="nav-links">
                <li><a href="home">Home</a></li>
                <li><a href="projects">Projects</a></li>
                <li><a href="education">Education</a></li>
                <li><a href="about">Experience</a></li>
            </ul>
        </nav>
        <!-- Sidebar for small screens -->
        <div id="sidebar" class="sidebar">
            <ul>
                <li><a href="home">Home</a></li>
                <li><a href="projects">Projects</a></li>
                <li><a href="education">Education</a></li>
                <li><a href="about">Experience</a></li>
            </ul>
        </div>
    </header>


    <main>
        <section id="education" class="section-padding">
<h2 class="text-3xl md:text-4xl font-bold text-center mb-16 fade-in">
                <span class="gradient-text">Education & Competitive Programming</span>
            </h2>            <div class="education-cp-content">
                <div class="education-section content-card">
                    <h3><i class="fas fa-graduation-cap"></i> Education</h3>
                    <div class="education-item">
                        <h4>Bachelor of Science in Information Systems</h4>
                        <p><strong>Addis Ababa University</strong> | Addis Ababa, Ethiopia</p>
                        <p>Expected Graduation: June, 2028</p>
                        <p>Relevant Coursework: Data Structures & Algorithms, Object-Oriented Programming, Database Management, Information Storage and Retrieval.</p>
                        <a href="./aauPortal.png" target="_blank" class="btn-download-certificate">Download profile</a>
                    </div>
                    <div class="education-item">
                        <h4>Competitive Programming</h4>
                        <p><strong>A2SV</strong> | Addis Ababa, Ethiopia</p>
                        <p>Expected Graduation: October, 2026</p>
                        <p>Relevant Courses: Data Structure and Algorithm, Software Devlopement, Python</p>
                    </div>
                    <div class="education-item">
                        <h4>Fullstack Web Development</h4>
                        <p><strong>INSA</strong> | Addis Ababa, Ethiopia</p>
                        <p>Graduation: October, 2025</p>
                        <p>Relevant Courses: React, Express.js, Node.js, React, Keycloak (auth), Clerk(auth), Security, MogoDb, Git and Version Control, API Integrations</p>
                    </div>
                    <div class="education-item">
                        <h4>High School Diploma</h4>
                        <p><strong>Lich Gogo Excellency Boarding School</strong> | Hossana, Ethiopia</p>
                        <p>University Enterance Exam Score: 571/700</p>
                        <p>Graduation: June,2023</p>
                    </div>

                    
                </div>
                <div class="cp-section content-card">

                     <div class="education-item">
                        <h4>Competitive Programming</h4>
                        <p><strong>5k Tutorials</strong> | Addis Ababa, Ethiopia</p>

                        <p>Duration: 2 months</p>
                        <a href="./5k.png" target="_blank" class="btn-download-certificate">Download Certificate</a>

                    </div>
                    <div class="education-item">
                        <h4>Web Programming</h4>
                        <p><strong>Udacity</strong> | Palo Alto, California</p>
                        <p>Initiative: 5 Million Ethiopian Coders Initiative</p>
                        <p>Duration: 2 months</p>
                        <a href="./certificate.pdf" target="_blank" class="btn-download-certificate">Download Certificate</a>
                    </div>
                    <div class="education-item">
                        <h4>Frontend Web Devlopment</h4>
                        <p><strong>Muyalogy</strong> | Addis Ababa Ethiopia</p>
                        <p>November, 2025</p>
                        <p>Relavent Courses: HTML, CSS, Javascript, Deployment</p>
                    </div>
                    <h3><i class="fas fa-code-branch"></i> Competitive Programming Journey</h3>
                    <p>Competitive programming has significantly sharpened my problem-solving skills, Programming mindset, and efficiency in writing code. I have solved numerous problems across leetcode using python.</p>
                    <ul class="cp-platforms">
                        <li>
                            <a href="https://leetcode.com/u/Honelign/" target="_blank" rel="noopener noreferrer">
                                <img src="./leetcode.jpg" alt="LeetCode Icon">
                                <span>LeetCode Profile</span>
                            </a>
                            
                           
                        </li>
                         <p>Solved: 350+ Problems | Acceptance : 75%</p>
                        
                    </ul>
                    
                </div>

                
            </div>
        </section>

    </main>
     <footer>
        <p>&copy; 2025 liranso.</p>
    </footer>
     <script src="css/script.js"></script>
   
</body>
</html>